
<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
body {background-color:powderblue;
}
</style>

<p> Your birthday is in day(s)</p>

<%=@day_now%><br>
<%=@month_now%>
<br>
<%=@day%>
<br>
<%=@month%>
