<style>
p {
  font-size: 60px;
  margin-top: 200px;
  font-size:500%;
}
body {
  background-color:powderblue;
  text-align: center;
}
</style>

<% if @countdown.ceil == 365 %>
<p>HaPpY BirTHdAy <b><%=@name%><b>! </p>
<% else %>
<p> <%=@name%>, your birthday is in <b><%= @countdown.ceil %></b> day(s)!</p>
<% end %>
