<body style="background-color:powderblue;">

<h1 style="color:red; text-align:center; font-size:500%"> Hello! 你好！</h1>

<h2 style="text-align:center; font-size:200%"> What is your name?</h2>

<form action='/greeting' method='post'>
  <input type='text' name='name'>
</form>

<h2 style="text-align:center; font-size:200%"> When's your birthday?</h2>
